@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Comfortaa", sans-serif;
    color: #000;
    background-color: #fff;
  }

  #markdown + p {
    padding: 15px 0;
  }
}

input:checked + div {
  @apply border-blue-500;
}
input:checked + div svg {
  @apply block;
}

.h-screen {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}
